<template>
  <div id="app">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <div class="d-flex justify-content-center">
            <img alt="Vue logo" src="./assets/logo.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="catd">
            <div class="card-header">My Vue App</div>
            <div class="card-body">
              <todo-page></todo-page>
            </div>
            <div class="card-footer">Footer</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import TodoPage from "./views/todo/TodoPage";

  export default {
    name: 'App',
    components: {
      TodoPage,
    }
  }
</script>

<style>

</style>
